<!DOCTYPE html>

<html>

<head>

<title>
OT Note Pro Falcon Enterprise
</title>


<link rel="stylesheet"
href="/static/style.css">


</head>


<body class="login-page">


<div class="login-card">


<h1>
⚡ OT Note Pro
</h1>


<h2>
Falcon Enterprise
</h2>


<p>
Create Member Account
</p>



<input
id="employee_id"
placeholder="Employee ID">



<input
id="password"
type="password"
placeholder="Password">



<input
id="confirm_password"
type="password"
placeholder="Confirm Password">



<button
class="login-btn"
onclick="register()">

Register

</button>



<a href="/">
⬅ Back to Login
</a>


</div>



<script>


function register(){


let employee_id =
document.getElementById("employee_id").value.trim();


if(employee_id === ""){

    alert("กรุณาใส่ Employee ID");

    return;

}


let password =
document.getElementById("password").value;


let confirm =
document.getElementById("confirm_password").value;



if(password !== confirm){

alert("Password ไม่ตรงกัน");

return;

}



fetch("/register",{


method:"POST",


headers:{


"Content-Type":
"application/json"


},


body:JSON.stringify({


employee_id:employee_id,


password:password


})


})


.then(r=>r.json())


.then(data=>{


if(data.success){


alert("สมัครสมาชิกสำเร็จ");


window.location="/";


}

else{


alert(
data.message ||
"สมัครสมาชิกไม่สำเร็จ"
);


}


});


}


</script>


</body>


</html>